<ul class="nav nav-column">
  <li class="nav-item">
    <a class="nav-link hello-link" href="#">Hello</a>
  </li>
  <li class="nav-item">
    <a class="nav-link ideas-link" href="#">Ideas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link education-link" href="#">Education</a>
  </li>
  <li class="nav-item">
    <a class="nav-link experience-link" href="#">Experience</a>
  </li>
  <li class="nav-item">
    <a class="nav-link testimonials-link" href="#">Testimonials</a>
  </li>

</ul>
