
<ul class="nav nav-column">

  <li class="nav-item">
    <a class="nav-link hello-link" href="#">Hello</a>
  </li>
  <li class="nav-item">
    <a class="nav-link ideas-link" href="#">Ideas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link education-link" href="#">Education</a>
  </li>
  <li class="nav-item">
    <a class="nav-link experience-link" href="#">Experience</a>
  </li>
  <li class="nav-item">
    <a class="nav-link testimonials-link" href="#">Testimonials</a>
  </li>


<!-- <p class="therelinks">There</p>
  <li class="nav-item">
  <%#= mail_to  'erinnlspringer@gmail.com', 'Type', target: "_blank"%>
  </li>
  <li class="nav-item">
    <%#= link_to 'Tweet', 'https://twitter.com/ErinnLSpringer', target: "_blank" %>
  </li>
  <li class="nav-item">
    <%#= link_to 'Heart', 'https://www.instagram.com/erinnlspringer/', target: "_blank"%>
  </li>
  <li class="nav-item">

    <%#= link_to 'Listen', 'https://soundcloud.com/erinn-springer', target: "_blank" %>
  </li>

  <li class="nav-item">
    <%#= link_to 'Read', 'https://sheddingcharlatans.com/', target: "_blank" %>
  </li>
  <li class="nav-item">
    <%#= link_to 'Code', 'https://github.com/elspringer', target: "_blank" %>
  </li> -->

</ul>
