<div class="page-wrapper bannerless-wrapper">
  <h1 class="period-story">Education</h1>
  <div class="flex education">

  <h2>Starter School</h2>
  <h3>Web Development & Design</h3>
  <p class="education-info">Chicago, Illinois — 10/2013 - 05/2014</p>
  <p>Attended a nine-month program that taught design, front-end and back-end development, user-experience, and business skills.
  <br>Specific languages that I learned include: Ruby on Rails, HTML5, CSS3, JavaScript, JQuery, CoffeeScript and more.
  <br>Design skills learned include: wireframing, user stories, user testing, copy writing, content management and more.
  <br>During this course I also launched a company called MakeHerSmile and started onboarding customers.
  <br><%= link_to "Visit Starter School's website", "http://www.starterschool.com/stories/erinn-barr", target: "_blank" %> to read more about my experience.
  </p>

  <h2>Purdue University</h2>
  <h3>Movement & Sports Science</h3>
  <p class="education-info">West Lafayette, Indiana — 08/2005 - 05/2009
  <p>Spent four years at the Liberal Arts School and graduated with a major in Movement & Sport Science and a minor in Organizational Leadership. Shortly after, I landed a job in marketing in Chicago, which had little-to-nothing to do with what I studied.</p>

</div>
