/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";

 @import url("https://fonts.googleapis.com/css?family=Alegreya:400,300,700|Raleway:400,100,300,700,500");
 @import url("https://fonts.googleapis.com/css?family=Nunito:400,900");
 @import url("https://fonts.googleapis.com/css?family=Changa|Kavivanar|Cutive+Mono|Damion|Cookie");

body {
  display: flex;
  justify-content: flex-start;
  /*background-color: #D3D3D3;*/
  ul {
    list-style: none;
  }
}

.idea-photo {
  height: 300px;
  width: 300px;
}
.testimonials {
  width: 70%;

  .row p {
    margin-top: 0;
  }
.testimonial2 {
    padding-top: 20px;
  }
}
.testimonial-photo {
  height: 200px;
  width: 200px;
  padding-right: 20px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.row {
  display: flex;
}

.nav-column {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-transform: uppercase;
a {
  color: #FF371E;
  font-family: Nunito;
}
a:link {
  text-decoration: none;

}
a:hover {
  text-decoration: underline;

}
}
.letter {
  font-family: Cutive Mono;
  width: 50%;
  font-size: 18px;
  a:link {
  text-decoration: none;
  border-bottom: 1px dashed #e25440;
}
a:hover {
  text-decoration: underline;
  border-bottom: 1px dashed #e25440;
}

  .fancystuff {
    font-family: Damion;
    font-size: 24px;
  }
}

.testimonials, .experience, .education, .ideas {
  font-family: Cutive Mono;
  font-size: 18px;
  margin-bottom: 50px;
  a:link {
  text-decoration: none;
  border-bottom: 1px dashed #e25440;

}
a:hover {
  text-decoration: underline;
  border-bottom: 1px dashed #e25440;
}
.fancystuff {
  font-family: Damion;
  }
  h3 {
    font-size: 35px;
  }
  h2 {
    font-size: 40px;
  }
  h1 {
    font-size: 50px;
  }
}


.page-wrapper {
  flex-direction: column;
  margin-left: 60px;

  h1, h2, h3 {
    font-family: Nunito;
  }
}

.experience, .education, .ideas {
  width: 70%;
}
