/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";

 @import url("https://fonts.googleapis.com/css?family=Alegreya:400,300,700|Raleway:400,100,300,700,500");
 @import url("https://fonts.googleapis.com/css?family=Nunito:400,900");
 @import url("https://fonts.googleapis.com/css?family=Changa|Kavivanar|Cutive+Mono|Damion|Faster+One");

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23c1d9f0' fill-opacity='0.28'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  justify-content: flex-start;
  /*background-color: #D3D3D3;*/
  ul {
    list-style: none;
  }


}

.idea-photo {
  height: 200px;
  width: 200px;
  padding-right: 20px;
}
.testimonials {
  .row p {
    margin-top: 0;
  }
.testimonial2 {
    padding-top: 20px;
  }
}
.testimonial-photo {
  height: 200px;
  width: 200px;
  padding-right: 20px;

}
p.fancystuff {
  font-size: 24px;
  margin-top: 10px;

}
.homepagestuff {
  margin-bottom: 55px;
}

  // .testimonial3 {
  //   display: flex;
  //   align-items: center;
  //   margin-bottom: 0px;
  // }

.nav-header, .therelinks {
  border-bottom: 1px solid black;
  font-size: 22px;
}
.row {
  display: flex;
}

.nav-column {
  display: flex;
  flex-direction: column;
  list-style: none;
  min-width: 300px;

  .here-link {
    padding-bottom: 5px;
    // text-transform: uppercase;
  }
  li {
    color: black;
    font-family: Cutive Mono;
    font-size: 16px;
  }
  .thereli a {
    font-size: 16px;
  }
  .nav-header, .therelinks {
    font-family: Cutive Mono;
  }
a.selected {
    color: #256EFF;
    font-weight: bold;
  }
a {
  color: #ff4d4d;
  font-family: Cutive Mono;
  font-size: 20px;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  font-weight: bold;
}
.therelinks {
  padding-top: 100px;
}
}
.letter {
  font-family: Cutive Mono;
  width: 60%;
  font-size: 18px;
  .fancystuff {
    font-family: 'Faster One';
  }
}
.ideas img {
  max-width: 70%;
}

.testimonials, .experience, .education, .ideas, .letter {
  font-family: 'Cutive Mono';
  font-size: 18px;
  margin-bottom: 50px;
  a:link {
  text-decoration: none;
  border-bottom: 1px dashed #ff4d4d;
  color: #256EFF;
}
a:hover {
  text-decoration: none;
  border-bottom: 1px dashed #ff4d4d;
  font-weight: bold;
  color: #256EFF;
}
a:visited {
  text-decoration: none;
  border-bottom: 1px dashed #ff4d4d;
  color: #256EFF;
}
}

.download-buttons {
  border-bottom: none;
  margin-bottom: 20px;
  padding: 15px 30px 15px 30px;
  background: #256EFF;
  color: black;
  font-family: 'Cutive Mono';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.page-wrapper {
  flex-direction: column;
  margin-left: 60px;

  h1 {
    font-family: 'Faster One';
    font-size: 43px;
  }
  h2, h3 {
    font-family: 'Cutive Mono';
    text-transform: uppercase;
  }
}

.experience, .education, .ideas, .testimonials {
  width: 60%;
}

// making response try
  @media all and (max-width: 600px) {
    body{
      flex-direction: column;
      width: 90%;
    }
  }
  @media all and (max-width: 950px) {
    .testimonials, .experience, .education, .ideas, .letter {
      width: 90%;
    }
    .row {
      flex-direction: column;
    }
  }

