/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";

 @import url("https://fonts.googleapis.com/css?family=Alegreya:400,300,700|Raleway:400,100,300,700,500");
 @import url("https://fonts.googleapis.com/css?family=Nunito:400,900");
 @import url("https://fonts.googleapis.com/css?family=Changa|Kavivanar|Cutive+Mono|Damion|Faster+One");

body {
  display: flex;
  justify-content: flex-start;
  /*background-color: #D3D3D3;*/
  ul {
    list-style: none;
  }

}
.idea-photo {
  height: 200px;
  width: 200px;
  padding-right: 20px;
}
.testimonials {
  .row p {
    margin-top: 0;
  }
.testimonial2 {
    padding-top: 20px;
  }
}
.testimonial-photo {
  height: 200px;
  width: 200px;
  padding-right: 20px;

}

  // .testimonial3 {
  //   display: flex;
  //   align-items: center;
  //   margin-bottom: 0px;
  // }

.row {
  display: flex;
}

.nav-column {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-transform: uppercase;
  li {
    padding-bottom: 5px;
  }
a.selected {
    color: #256EFF;
    font-weight: bold;
  }
a {
  color: #ff4d4d;
  font-family: Cutive Mono;
  font-size: 20px;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  font-weight: bold;
}

}
.letter {
  font-family: Cutive Mono;
  width: 60%;
  font-size: 18px;
  .fancystuff {
    font-family: 'Faster One';
  }
}
.ideas img {
  max-width: 70%;
}

.testimonials, .experience, .education, .ideas, .letter {
  font-family: Cutive Mono;
  font-size: 18px;
  margin-bottom: 50px;
  a:link {
  text-decoration: none;
  border-bottom: 1px dashed #ff4d4d;
  color: #256EFF;
}
a:hover {
  text-decoration: none;
  border-bottom: 1px dashed #ff4d4d;
  font-weight: bold;
  color: #256EFF;
}
a:visited {
  text-decoration: none;
  border-bottom: 1px dashed #ff4d4d;
  color: #256EFF;
}
}


.page-wrapper {
  flex-direction: column;
  margin-left: 60px;

  h1 {
    font-family: 'Faster One';
    font-size: 43px;
  }
  h2, h3 {
    font-family: 'Nunito';
  }
}

.experience, .education, .ideas, .testimonials {
  width: 60%;
}

// making response try
  @media all and (max-width: 600px) {
    body{
      flex-direction: column;
      width: 90%;
    }
  }
  @media all and (max-width: 950px) {
    .testimonials, .experience, .education, .ideas, .letter {
      width: 90%;
    }
  }

